<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>The Small Group</title>

<!-- CSS ============================================ -->

<link href="blog.css" rel="stylesheet" type="text/css">
<link href="comment.css" rel="stylesheet" type="text/css">

<!-- FONTs ============================================ -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=Pushster&family=Righteous&display=swap" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

<!-- JAVA SCRIPT ============================================ -->
<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js?ver=3.3">
</script>	
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>

</head>

<body>
<div id="header">
	<div id="tsg"><font size="6px" face='Bree Serif', Georgia, serif; color:#6a6969;>The Small <br />Group</font><a href="#"></a></div>
	<ul id="tsg-menu">
    	<li><a href="index.html">Home</a></li>
        <li><a href="blog.html">Blog</a></li>  
    </ul>
</div>

<div id="container">

<!--Begin Response Section-->

    <div id="response">
    	<h1>Comments & Responses</h1>
        <ul id="top-social">
        	<li><a href="#" class="facebook">Facebook</a></li>
            <li><a href="#" class="twitter">Twitter</a></li>
            <li><a href="#" class="linkedin">LinkedIn</a></li>
        </ul>
        <div class="top-divider"></div>
        <div class="content">
        <img src="images/thanx.jpg" width="300px" height="200px" />
            <h2>Amazing Benefits of<br /><font color="#ff0000">Thanksgiving</font></h2>
            <p><b>"Praise the LORD! Oh give thanks to the LORD, for he is good, for his steadfast love endures forever!" <br />- Psalm 106:1</b></p>

<p>We can see from the above scripture that we have a clear instruction to give thanks to God. And we can also see why - for he is good: for his mercy endureth forever.
The Word of God makes us to know that God is good, and he does good things (Psalm 119:68). God is good by nature, He is compassionate, kind and knows how to care for His own people. If we understand this, then we can learn and know how to position ourselves to expect and receive good from the One Who is our Father. We would understand that we need to constantly live with gratitude in our hearts. The Psalmist said, "I will bless the LORD at all times; his praise shall continually be in my mouth" (Psalm 34:1 ESV). "At all times" means in every situation, at every moment, no matter the state or condition of my life or what I'm going through... I will bless Him, I will be grateful.<br />
The Psalmist knew there are benefits attached to being thankful to God and some of them are highlighted below.
<li><b>Thanksgiving Provokes Increases.</b><br />
Jesus fed a multitude with five barley loaves and two small fish. But He did something before this happened; <i>"And Jesus took the loaves; and when he had GIVEN THANKS, he distributed to the disciples, and the disciples to them that were set down; and likewise the two fishes as much as they<div id="profound-2"><b>"I have engraved you on the palms of
my hands;<br /> your walls
are continually
before me..."</b></div> would" - John 6:11</i>. This was a MIRACLE of INCREASE on the platform of thanksgiving. As people of faith in Christ, if we desire divine increase in our lives, we need to be thankful to God always.</li>
<li><b>Thanksgiving attracks God's blessings.</b><br />
In addition to increase, God blesses us when we are thankful to Him. 
<i>"Let the peoples praise you, O God; let all the peoples praise you!The earth has yielded its increase; God, our God, shall bless us." - Psalm 67:5-6.</i></li>
<li><b>Thanksgiving moves God to perfect all our concerns.</b><br /> 
God knows what we need to live a good, satisfactory and productive lives. When we thank Him always for the things He has done for us, we encourage Him to do even more for us. After one of the ten lepers that was healed by Jesus saw that he was cleansed, he turned back glorifying God and fell down to GIVE JESUS THANKS. Jesus noted that just one out of the ten lepers returned to glorify God, and He said to him, <i>"...Rise and go your way; your faith has made you well (whole)"</i> - Luke 17:11-19. Emphasis mine.</li>
</p>

<p>Let's be thankful! If we want to see good in life, being grateful to God is a first step. If we want to be in a celebration mode continually, then we need to be thankful. As the Bible puts it succinctly, <i>"All the days of the afflicted are evil, but the cheerful of heart has a continual feast"</i> - Proverbs 15:15.</p>
<br />
<p><font face="pacifico" size="5px">Brother Kenneth Unamba</font></p>
            </div>


<div class="top-divider"></div>

<!--Begin Comment Section--!>

<section id="app">
<div class="responsebox">
<div class="row">
<div class="col-6">
<div class="comment">
<p v-for="items in item" v-text="items"></p>
</div><!--End Comment-->
</div><!--End col -->
</div><!-- End row -->

<div class="row">
        <div class="col-6">

      <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()" form="usrform"></textarea>
<button v-on:click="resetItem()" class='primaryContained float-right' type="reset">Reset</button>
<button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
        </div><!-- End col -->
      </div><!--End Row -->
    </div><!--End responsebox -->
</section><!-- end App -->

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script  src="js/script.js"></script>
           
    		</div>
		</div>
    </div>
</section>


<div id="social-footer"></div>
</div>
</div>

</div>

 
</body>
</html>
